{
    "sampling": {
        "timestep":          1e-5,
        "relaxation_steps":  1000000,
        "production_steps":  1000000,
        "logging_interval":  100000,
        "sampling_interval": 10000,
        "random_seed":       0,
        "output_filename":   "_output.h5"
    },

    "environment": {
        "temperature":               1,
        "container_radius":          8.55,
        "container_spring_constant": 1000
    },

    "initialization": {
        "extruder_preloading":   true,
        "initial_step_monomers": 10,
        "initial_step_scale":    0.1
    },

    "chain": {
        "repulsive_distance": 1,
        "repulsive_energy":   50,
        "spring_length":      1,
        "spring_constant":    200,
        "monomer_mobility":   100
    },

    "association": {
        "valency":              3,
        "association_distance": 1.5,
        "association_rate":     100,
        "dissociation_rate":    10,
        "association_energy":   5
    },

    "extruder": {
        "loading_rate":     0.0002,
        "unloading_rate":   0.05,
        "extrusion_rate":   100,
        "contraction_rate": 100,
        "crossing_factor":  0,
        "spring_length":    1,
        "spring_constant":  200
    },

    "chains": [
        {
            "length": 500,
            "_association_features": [
                {"site": {"start": 0, "end": 200}, "association": 0.1, "dissociation": 10}
            ],
            "extruder_features": [
                {"site":  10, "loading": 0, "arrival": 0},
                {"site": 200, "loading": 0, "arrival": 0},
                {"site": 210, "loading": 0, "arrival": 0},
                {"site": 490, "loading": 0, "arrival": 0}
            ]
        }
    ]
}
