[submodule "submodules/github.com/snsinfu/micromd"]
	path = submodules/github.com/snsinfu/micromd
	url = https://github.com/snsinfu/micromd.git
[submodule "submodules/github.com/snsinfu/cxx-getopt"]
	path = submodules/github.com/snsinfu/cxx-getopt
	url = https://github.com/snsinfu/cxx-getopt.git
[submodule "submodules/github.com/danielaparker/jsoncons"]
	path = submodules/github.com/danielaparker/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
[submodule "submodules/github.com/imneme/pcg-cpp"]
	path = submodules/github.com/imneme/pcg-cpp
	url = https://github.com/imneme/pcg-cpp.git
